{% extends "template.html" %}
{%  block content%}
	<h1>Overview</h1>
	<a href="{{url_for('staffs.logout')}}">Log out!</a>
	<div class="overview">
		<h3>Project case </h3>
		<ul style="list-style-type:none">
			<li>Applicaiton ID: {{case.app_id}}</li>
			<li>Applicant: {{case.applicant}}</li>
			<li>Description: {{case.app_description}}</li>
			<li>Project title: {{case.proj_title}}</li>
			<li>Project module: {{module.module_name}}</li>
			<li>Project ECTS: {{module.module_ECTS}}</li>
			<li>Project description: {{case.proj_description}}</li>
			<li>Project start date: {{case.proj_s_date}}</li>
			<li>Project end date: {{case.proj_e_date}}</li>
			<li>Company name: {{company.comp_name}}</li>
			<li>Company address: {{company.comp_address}}</li>
			<li>Company department: {{company.comp_department}}</li>
			<li>Country: {{company.comp_country}}</li>
			<li>Postcode: {{company.comp_postcode}}</li>
			<li>Website: {{company.comp_web}}</li>
			<li>Company email: {{company.comp_email}}</li>
			<li>Company phone number: {{company.comp_phone}}</li>
			<li>Company supervisor name: {{csupervisor.c_sup_name}}</li>
			<li>Company supervisor phone: {{csupervisor.c_sup_phone}}</li>
			<li>Company supervisor email: {{csupervisor.c_sup_email}}</li>
			<li>Company supervisor titles: {{titles|join(', ')}}</li>
			<li>Company supervisor fields: {{fields|join(', ')}}</li>
			<li><a href="{{url_for('.download_document', document='contract', app_id = case.app_id)}}">Download contract</a></li>
			<li><a href="{{url_for('.download_document', document='insurance', app_id = case.app_id)}}">Download insurance</a></li>
		</ul>
		<form method='POST' action="{{url_for('.process_project_case', app_id=case.app_id)}}" enctype="multipart/form-data">
			{{form.csrf_token}}
			{{form.decision.label}}: {{form.decision}}<br><br>
			{{form.recommend_supervisors.label}}: {{form.recommend_supervisors}}<br><br>
			{{form.staff_comment.label}}: {{form.staff_comment}}<br><br>
			{{form.staff_document.label}}: {{form.staff_document}}<br><br>
			<input type=button value="Back" onClick="javascript:history.go(-1);"> {{form.next_btn}}<br><br>
		</form>
	</div>
{% endblock %}
