<!DOCTYPE html>
<html>
	<head>
		<title>Student case tracking system</title>
	</head>
	<body>
		{% if form and form.errors %}
		    <ul class="errors">
		        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
		            {% for error in field_errors %}
		                <li>{{ form[field_name].label }}: {{ error }}</li>
		            {% endfor %}
		        {% endfor %}
		    </ul>
		{% endif %}
		<div class="flash">
			{% for message in get_flashed_messages() %}
			{{message}}
			{% endfor %}
		</div>
		<div class="container">
			<form method='GET' action="{{url_for('staffs.home')}}">
				<input type="submit" value="Home">
			</form>		
			{% block content%}
			{% endblock %}	
		</div>
		<div class="footer">
			{% block footer %}
			&copy; Copyright 2015 Student tracking system.
			{% endblock %}
		</div>
	<body>
</html>		