{% extends "template.html" %}
{%  block content%}
	<h1>Cases overview</h1>
	<a href="{{url_for('staffs.logout')}}">Log out!</a>
	<form method="GET" action="{{url_for('cases.project_cases')}}">
		<input type="submit" value="Project">
	</form>
	<br>
	<form method="GET" >
		<input type="submit" value="Leave of absence">
	</form>
	<br>
	<form method='GET'>
		<input type="submit" value="Extra exam">
	</form>
	<br>
	<form method='GET'>
		<input type="submit" value="Study visit">
	</form>
	<br>
	<form method='GET'>
		<input type="submit" value="Course exemption">
	</form>	
{% endblock %}