{% extends 'template.html' %}
{% block content%}

<p>Add new case here:</p>

<form method="POST" action="{{url_for('.edit_case', mycase_id = edit_case.cid) }}">
	{{form.csrf_token}}
	Case ID: {{edit_case.cid}}<br><br>
	Case category: {{edit_case.category_str()}}<br><br>
	{{form.resp_person.label}}: {{form.resp_person}}<br><br>
	{{form.status.label}}: {{form.status()}}<br><br>
	Created date: {{edit_case.opened}}<br><br>
	Last modified date: {{edit_case.last_modified}}<br><br>
	<input type="submit" value="edit" name="create">
	<input type="submit" value="delete" name="delete">
</form>			
{% endblock%}