{% extends "template.html" %}
{%  block content%}
	<h1>Staff</h1>
	<a href="{{url_for('staffs.logout')}}">Log out!</a>
	<form method='GET' action="{{url_for('.new_staff')}}">
		<input type="submit" value="Create a new staff">
	</form>

	<div class="overview">
		<h3>Staffs</h3>
		<div class="datagrid">
			<table>
				<thead>
					<tr>
						<th>Staff initial</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Email</th>
						<th>Department</th>
						<th>Office</th>
						<th>Phone</th>
						<th>Field</th>
						<th>Title</th>
					</tr>
				</thead>
				{% for staff in staffs%}
					<tr>
						<th>{{staff.staff_id}}</th>
						<th>{{staff.first_name}}</th>
						<th>{{staff.last_name}}</th>
						<th>{{staff.email}}</th>
						<th>{{staff.contact_list[0].department}}</th>
						<th>{{staff.contact_list[0].office}}</th>
						<th>{{staff.contact_list[0].phone}}</th>
						<th>{% for staff_field in staff.field_list%}{{staff_field.field}} {% endfor%}</th>
						<th>{% for staff_title in staff.title_list%}{{staff_title.title}} {% endfor%}</th>
					</tr>
				{% endfor%}
			</table>
		</div>
	</div>
{% endblock %}