{% extends "template.html" %}
{%  block content%}
	<h1>Student</h1>
	<a href="{{url_for('staffs.logout')}}">Log out!</a>
	<form method='GET' action="{{url_for('.new_student')}}">
		<input type="submit" value="Create a new student">
	</form>

	<div class="overview">
		<h3>Students</h3>
		<div class="datagrid">
			<table>
				<thead>
					<tr>
						<th>Study Number</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Birthdate</th>
						<th>Email</th>
						<th>Program</th>
						<th>Degree type</th>
						<th>Registration date</th>
						<th>Status</th>
						<th>Earned ECTs</th>
						<th>Registered ECTs</th>
						<th>Total ECTs</th>
						<th>Graduation date</th>
					</tr>
				</thead>
				{% for program in study_programs%}
					<tr>
						<th>{{program.student_obj.study_no}}</th>
						<th>{{program.student_obj.first_name}}</th>
						<th>{{program.student_obj.last_name}}</th>
						<th>{{program.student_obj.birthdate}}</th>
						<th>{{program.student_obj.email}}</th>
						<th>{{program.program}}</th>
						<th>{{program.degree_type}}</th>
						<th>{{program.reg_date}}</th>
						<th>{{program.status}}</th>
						<th>{{program.earned_ECTs}}</th>
						<th>{{program.reg_ECTs}}</th>
						<th>{{program.tot_ECTs}}</th>
						<th>{{program.graduation_date}}</th>
					</tr>
				{% endfor%}
			</table>
		</div>
	</div>
{% endblock %}