{% extends 'template.html' %}
{% block content%}

<p>Add company supervisor infomation here:</p>
<form method="POST" action="{{url_for('.new_c_supervisor')}}" >
	{{form.csrf_token}}
	{{form.c_sup_name.label}}: {{form.c_sup_name}}<br><br>
	{{form.c_sup_email.label}}: {{form.c_sup_email}}<br><br>
	{{form.c_sup_phone.label}}: {{form.c_sup_phone}}<br><br>
	{{form.c_sup_title.label}}: {{form.c_sup_title}}<br><br>
	{{form.c_sup_field.label}}: {{form.c_sup_field}}<br><br>
	<input type=button value="Back" onClick="javascript:history.go(-1);"> {{form.next_btn}}<br><br>
</form>			
{% endblock%}