{% extends 'template.html' %}
{% block content%}

<p>Add project infomation here:</p>
<form method="POST" action="{{url_for('.new_project')}}" enctype="multipart/form-data">
	{{form.csrf_token}}
	{{form.app_description.label}}: {{form.app_description}}<br><br>
	{{form.proj_module.label}}: {{form.proj_module}}<br><br>
	{{form.proj_title.label}}: {{form.proj_title}}<br><br>
	{{form.proj_description.label}}: {{form.proj_description}}<br><br>
	{{form.proj_salary.label}}: {{form.proj_salary}}<br><br>		
	{{form.proj_contract.label}}:<input type="file" name="cfile" value="Upload"><br><br>
	{{form.proj_insurance.label}}:<input type="file" name="ifile" value="Upload"><br><br>
	{{form.proj_s_date.label}}: {{form.proj_s_date}}<br><br>
  {{form.proj_e_date.label}}: {{form.proj_e_date}}<br><br>
	<input type="submit" value="Next" name="Next">
</form>			
{% endblock%}